<!DOCTYPE html>

@{
    Layout = "_Layout";
}

<br />
<br />
<br />
<br />

<div class="card container">
    <div class="card-header btn-primary" style="margin-top:10px;">
        <strong>İletişim</strong>
    </div>
    <ul class="list-group list-group-flush" style="margin-bottom:10px;">
        <li class="list-group-item"><strong> Eposta:</strong>  emre-demir-work@@outlook.com</li>
    </ul>
</div>